@import "base";
@import "service";

//------------------------Header

.header {
  z-index: 9999;
  &__top {
    padding: $default-indent * 4;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
  }
  &-info {
    display: flex;
    align-items: center;
    gap: $default-indent * 5;
    &__phone,
    &__address {
      font-weight: normal;
      display: flex;
      align-items: center;
      gap: $default-indent;
    }
    &__address {
      &-text {
        font-size: $fz-s;
      }
    }
  }
  &-logo {
    display: flex;
    align-items: center;
    gap: $default-indent;
    &__title {
      font-size: $fz-m;
      font-weight: bold;
    }
    &__pic {
      height: $default-indent * 20;
      width: $default-indent * 20;
      &-img {
        cursor: pointer;
      }
    }
  }
  &__bottom {
    background: $black;
  }
  &__nav {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 $default-indent * 4;
  }
  .menu {
    &__list {
      display: flex;
      &-item {
        border-left: 1px solid $dark-gray-5;
        &:last-of-type {
          border-right: 1px solid $dark-gray-5;
        }
        &:hover {
          transition: $tr;
          background: $dark-gray-6;
        }
      }
      &-link {
        display: block;
        padding: 20px;
        color: $white;
      }
    }
    &__bottom {
      display: none;
    }
  }
  @media (max-width: $laptop) {
    &-info__address {
      display: none;
    }

    .burger {
      display: block;
    }

    &__bottom {
      transform: translateX(-100%);
      position: absolute;
      height: 100vh;
      width: 100vw;
      top: 0;
      left: 0;
      display: flex;
      align-items: center;
      transition: $tr;

      &.animate {
        transform: translateX(0);
      }
    }

    .menu {
      &__list {
        flex-direction: column;
        &-item {
          width: calc(100vw - ($default-indent * 8));
          border-top: 1px solid $dark-gray-5;
          border-left: none;

          &:last-of-type {
            border-right: none;
            border-bottom: 1px solid $dark-gray-5;
          }
          &:hover {
            transition: $tr;
            background: $dark-gray-6;
          }
        }
      }
      &-bottom {
        display: flex;
        margin-top: $default-indent * 8;
        flex-direction: column;
        gap: $default-indent * 2;
        align-items: center;
        &__address,
        &__phone {
          display: flex;
          align-items: center;
          gap: $default-indent;
        }
        &__address-text,
        &__phone-href {
          color: $white;
        }
      }
    }
  }

  @media (max-width: $tablet) {
    .header-info__phone {
      display: none;
    }
    .header {
      &-logo {
        &__title {
          font-size: $fz-xs;
        }
        &__pic {
          height: $default-indent * 16;
          width: $default-indent * 16;
          &-img {
            cursor: pointer;
          }
        }
      }
    }
  }

  @media (max-width: $smart) {
    font-size: $fz-xs;
  }
}

//-------------------------Burger

.burger {
  display: none;
  position: relative;
  height: $default-indent * 6;
  width: $default-indent * 8;
  flex: 0 0 auto;
  z-index: 50;
  border: none;
  background: none;

  &__line,
  &__line::after,
  &__line::before {
    width: $bar-width;
    height: $bar-height;
  }

  &__line {
    display: block;
    position: absolute;
    top: ($bar-height * -0.5);
    border-radius: 20px;
    background: $main-color-first;
    transform: translateY($bar-spacing);
    transition: all 0ms 300ms;
  }

  &__line::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: $bar-spacing;
    border-radius: 20px;
    background: $main-color-first;
    transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1),
      transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
  }

  &__line::after {
    content: "";
    position: absolute;
    left: 0;
    top: $bar-spacing;
    border-radius: 20px;
    background: $main-color-first;
    transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1),
      transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
  }

  @media (max-width: $tablet) {
    & {
      // background: #000;
    }
  }
}

.burger.animate > .burger__line {
  background: $black;
}

.burger.animate > .burger__line::after {
  background: $main-color-first;
  top: 0;
  transform: rotate(45deg);
  transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1),
    transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

.burger.animate > .burger__line::before {
  background: $main-color-first;
  bottom: 0;
  transform: rotate(-45deg);
  transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1),
    transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

//-------------------------Main content

//------------Carousel section

.carousel {
  @include section-margin();
  &__container {
    position: relative;
    overflow: hidden;
    padding: 0;
    visibility: hidden;
    &.initialized {
      visibility: visible;
    }
  }
  &__track {
    display: flex;
    width: 100%;
    &.animated {
      transition: transform 0.5s ease-in-out;
    }
  }

  &__slide {
    min-width: 100%;
    padding: 0 $default-indent * 4;
  }

  &__slide.active {
    opacity: 1;
  }

  &__btn {
    width: $default-indent * 16;
    height: $default-indent * 16;
    position: absolute;
    font-weight: 800;
    font-size: $fz-x;
    top: 75%;
    transform: translateY(-50%);
    background: $main-color-first;
    border: none;
    color: white;
    // padding: $default-indent * 2;
    cursor: pointer;
    z-index: 10;
    // opacity: 0.5;
    &:hover {
      opacity: 0.7;
    }
    @media (max-width: $tablet) {
      width: $default-indent * 10;
      height: $default-indent * 10;
    }

    &_prev {
      left: $default-indent * 8.25;
    }
    &_next {
      left: $default-indent * 24;
      // right: 0;
    }
    @media (max-width: $tablet) {
      &_prev {
        display: none;
      }
      &_next {
        display: none;
      }
    }
  }

  &__indicators {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 10px;
  }
  &__indicator {
    width: $default-indent * 8;
    height: $default-indent * 1.5;
    // border-radius: 50%;
    background: $white;
    cursor: pointer;
    &.active {
      background: $main-color-first;
    }
  }
}

.slide {
  min-height: 50vh;
  max-height: 70vh;

  &__info {
    background: $opacity;
    position: absolute;
    margin-left: $default-indent * 4;
    bottom: 30%;
    padding: $default-indent * 4;
    width: 50%;
    color: $white;
    @media (max-width: $tablet) {
      & {
        margin: $default-indent * 4;
        max-width: calc(100% - 68px);
        max-height: 60%;
        height: 100%;
        width: 100%;
        bottom: 15%;
      }
    }
  }
  &__title {
    font-size: $fz-x;
    margin-bottom: $default-indent * 2;
    @media (max-width: $tablet) {
      & {
        font-size: $fz-m;
      }
    }
  }
  &__text {
    font-size: $fz-m;
    @media (max-width: $tablet) {
      & {
        font-size: $fz-s;
      }
    }
  }
}

//------------Advantagegs Section

.advantages {
  @include section-margin();
  &__title {
    @include title();
  }
  &__main {
    display: flex;
    flex-wrap: wrap;
    gap: $default-indent * 5;
  }
  &-card {
    display: flex;
    flex: 1;
    width: 100%;
    padding: $default-indent * 2;
    min-width: 350px;
    transition: $tr;
    align-items: center;
    &__title {
      margin-bottom: $default-indent * 2;
    }

    &__text {
      @include regular-text();
    }
    &__photo {
      width: $default-indent * 30;
      @media (max-width: $tablet) {
        & {
          width: $default-indent * 15;
        }
      }
    }
    &:hover {
      background: $additional-color-first;
    }
    @media (max-width: $tablet) {
      & {
        min-width: 100%;
      }
    }
  }
}

//------------Advantagegs Section

.examples {
  background: $gray;
  padding: $default-indent * 4;

  &__title {
    @include title();
  }
  &__main {
    display: flex;
    gap: $default-indent * 5;
    flex-wrap: wrap;
  }
}

.example {
  &-card {
    flex: 1 1;
    min-width: 250px;
    background: $white;
    border: 1px solid $dark-gray;
    &__bottom {
      padding: $default-indent * 4;
    }

    &__title {
      margin-bottom: $default-indent * 2;
    }

    &__text {
      @include regular-text();
    }

    &__photo {
      overflow: hidden;
      height: 200px;
      &-img {
        transition: $tr;
      }
    }

    &:hover {
      .example-card__photo-img {
        transform: scale(1.1);
      }
	  .example-card__title{
		color: $main-color-first;
	  }
    }
  }
}

//--------------------------Footer

.footer {
  background: $black;
  color: $white;
  border-top: $default-indent solid $main-color-first;
  &__container {
    padding: $default-indent * 4;
  }
  &__top {
    display: flex;
    justify-content: space-between;
    padding-bottom: $default-indent * 4;
  }
  &__bottom {
    padding: $default-indent * 2 0;
  }
  &__phone {
    display: flex;
    align-items: center;
    gap: $default-indent * 2;
    &-href {
      color: $white;
      &:hover {
        color: $white;
      }
    }
  }

  &__bottom {
    border-top: 1px solid $dark-gray-6;
  }

  &__copyright {
    font-size: $fz-xs;
    text-align: center;
  }

  .menu {
    &__list {
      display: flex;
      &-item {
        &:hover {
          transition: $tr;
          background: $dark-gray-6;
        }
      }
      &-link {
        display: block;
        padding: 20px;
        color: $white;
      }
    }
  }

  @media (max-width: $tablet) {
    .footer {
      &__top {
        flex-direction: column;
        align-items: center;
        gap: $default-indent * 2;
      }
    }
    .menu {
      &__list {
        &-link {
          padding: $default-indent * 3;
        }
        flex-direction: column;
        align-items: center;
        &-item {
          width: 100%;
          text-align: center;
        }
      }
    }
  }
}
