* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  cursor: default;
}

img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

html {
  font-family: verdana, sans-serif;
  color: #2c2f39;
}

a {
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  font-weight: 500;
  color: #2c2f39;
  font-size: 14px;
  cursor: pointer;
}
a:hover {
  color: #f21c1c;
}

ul {
  list-style: none;
}

body {
  font-family: Open Sans, Segoe UI, Roboto, Tahoma, sans-serif;
}

iframe {
  border: none;
}

[class*=container] {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 16px;
}

.wrapper {
  display: grid;
  grid-template-rows: auto 1fr;
  min-height: 100vh;
}

.btn {
  border: none;
  outline: none;
  height: 50px;
  padding: 12px 20px;
  min-width: 100px;
  font-weight: 600;
  border-radius: 20px;
  font-size: 16px;
  background-image: linear-gradient(90deg, #f21c1c, rgba(242, 28, 28, 0.0588235294));
  background-size: 150%;
  cursor: pointer;
  color: #fff;
  transition: all 0.2s ease-in-out;
  box-shadow: 0px 0px 3px 0px rgb(245, 52, 69);
}
.btn:hover {
  background-position: 100%;
}

.separator {
  height: 60%;
  width: 1px;
  background: #e3e3e3;
}

.current-page {
  background: #f21c1c;
}

.breadcrumbs {
  background: rgba(44, 47, 57, 0.0549019608);
  padding: 16px 0;
}
.breadcrumbs__href {
  text-decoration: underline;
  text-underline-offset: 3px;
}
.breadcrumbs__separator {
  margin: 0 4px;
}
.breadcrumbs__text {
  font-size: 14px;
  color: #838383;
}

.header {
  z-index: 9999;
}
.header__top {
  padding: 16px;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.header-info {
  display: flex;
  align-items: center;
  gap: 20px;
}
.header-info__phone, .header-info__address {
  font-weight: normal;
  display: flex;
  align-items: center;
  gap: 4px;
}
.header-info__address-text {
  font-size: 16px;
}
.header-logo {
  display: flex;
  align-items: center;
  gap: 4px;
}
.header-logo__title {
  font-size: 18px;
  font-weight: bold;
}
.header-logo__pic {
  height: 80px;
  width: 80px;
}
.header-logo__pic-img {
  cursor: pointer;
}
.header__bottom {
  background: #2c2f39;
}
.header__nav {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 16px;
}
.header .menu__list {
  display: flex;
}
.header .menu__list-item {
  border-left: 1px solid #4d4d4d;
}
.header .menu__list-item:last-of-type {
  border-right: 1px solid #4d4d4d;
}
.header .menu__list-item:hover {
  transition: all 0.2s ease-in-out;
  background: #424652;
}
.header .menu__list-link {
  display: block;
  padding: 20px;
  color: #fff;
}
.header .menu__bottom {
  display: none;
}
@media (max-width: 1024px) {
  .header-info__address {
    display: none;
  }
  .header .burger {
    display: block;
  }
  .header__bottom {
    transform: translateX(-100%);
    position: absolute;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    transition: all 0.2s ease-in-out;
  }
  .header__bottom.animate {
    transform: translateX(0);
  }
  .header .menu__list {
    flex-direction: column;
  }
  .header .menu__list-item {
    width: calc(100vw - 32px);
    border-top: 1px solid #4d4d4d;
    border-left: none;
  }
  .header .menu__list-item:last-of-type {
    border-right: none;
    border-bottom: 1px solid #4d4d4d;
  }
  .header .menu__list-item:hover {
    transition: all 0.2s ease-in-out;
    background: #424652;
  }
  .header .menu-bottom {
    display: flex;
    margin-top: 32px;
    flex-direction: column;
    gap: 8px;
    align-items: center;
  }
  .header .menu-bottom__address, .header .menu-bottom__phone {
    display: flex;
    align-items: center;
    gap: 4px;
  }
  .header .menu-bottom__address-text, .header .menu-bottom__phone-href {
    color: #fff;
  }
}
@media (max-width: 768px) {
  .header .header-info__phone {
    display: none;
  }
  .header .header-logo__title {
    font-size: 14px;
  }
  .header .header-logo__pic {
    height: 64px;
    width: 64px;
  }
  .header .header-logo__pic-img {
    cursor: pointer;
  }
}
@media (max-width: 320px) {
  .header {
    font-size: 14px;
  }
}

.burger {
  display: none;
  position: relative;
  height: 24px;
  width: 32px;
  flex: 0 0 auto;
  z-index: 50;
  border: none;
  background: none;
}
.burger__line, .burger__line::after, .burger__line::before {
  width: 32px;
  height: 4px;
}
.burger__line {
  display: block;
  position: absolute;
  top: -2px;
  border-radius: 20px;
  background: #f21c1c;
  transform: translateY(12px);
  transition: all 0ms 300ms;
}
.burger__line::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 12px;
  border-radius: 20px;
  background: #f21c1c;
  transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
}
.burger__line::after {
  content: "";
  position: absolute;
  left: 0;
  top: 12px;
  border-radius: 20px;
  background: #f21c1c;
  transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
}
.burger.animate > .burger__line {
  background: #2c2f39;
}

.burger.animate > .burger__line::after {
  background: #f21c1c;
  top: 0;
  transform: rotate(45deg);
  transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

.burger.animate > .burger__line::before {
  background: #f21c1c;
  bottom: 0;
  transform: rotate(-45deg);
  transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

.carousel {
  margin-bottom: 48px;
}
.carousel__container {
  position: relative;
  overflow: hidden;
  padding: 0;
  visibility: hidden;
}
.carousel__container.initialized {
  visibility: visible;
}
.carousel__track {
  display: flex;
  width: 100%;
}
.carousel__track.animated {
  transition: transform 0.5s ease-in-out;
}
.carousel__slide {
  min-width: 100%;
  padding: 0 16px;
}
.carousel__slide.active {
  opacity: 1;
}
.carousel__btn {
  width: 64px;
  height: 64px;
  position: absolute;
  font-weight: 800;
  font-size: 24px;
  top: 75%;
  transform: translateY(-50%);
  background: #f21c1c;
  border: none;
  color: white;
  cursor: pointer;
  z-index: 10;
}
.carousel__btn:hover {
  opacity: 0.7;
}
@media (max-width: 768px) {
  .carousel__btn {
    width: 40px;
    height: 40px;
  }
}
.carousel__btn_prev {
  left: 33px;
}
.carousel__btn_next {
  left: 96px;
}
@media (max-width: 768px) {
  .carousel__btn_prev {
    display: none;
  }
  .carousel__btn_next {
    display: none;
  }
}
.carousel__indicators {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 10px;
}
.carousel__indicator {
  width: 32px;
  height: 6px;
  background: #fff;
  cursor: pointer;
}
.carousel__indicator.active {
  background: #f21c1c;
}

.slide {
  min-height: 50vh;
  max-height: 70vh;
}
.slide__info {
  background: rgba(0, 0, 0, 0.4);
  position: absolute;
  margin-left: 16px;
  bottom: 30%;
  padding: 16px;
  width: 50%;
  color: #fff;
}
@media (max-width: 768px) {
  .slide__info {
    margin: 16px;
    max-width: calc(100% - 68px);
    max-height: 60%;
    height: 100%;
    width: 100%;
    bottom: 15%;
  }
}
.slide__title {
  font-size: 24px;
  margin-bottom: 8px;
}
@media (max-width: 768px) {
  .slide__title {
    font-size: 18px;
  }
}
.slide__text {
  font-size: 18px;
}
@media (max-width: 768px) {
  .slide__text {
    font-size: 16px;
  }
}

.advantages {
  margin-bottom: 48px;
}
.advantages__title {
  font-size: 24px;
  text-align: center;
  margin-bottom: 24px;
}
@media (max-width: 768px) {
  .advantages__title {
    font-size: 18px;
  }
}
.advantages__main {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.advantages-card {
  display: flex;
  flex: 1;
  width: 100%;
  padding: 8px;
  min-width: 350px;
  transition: all 0.2s ease-in-out;
  align-items: center;
}
.advantages-card__title {
  margin-bottom: 8px;
}
.advantages-card__text {
  font-size: 16px;
}
@media (max-width: 768px) {
  .advantages-card__text {
    font-size: 14px;
  }
}
.advantages-card__photo {
  width: 120px;
}
@media (max-width: 768px) {
  .advantages-card__photo {
    width: 60px;
  }
}
.advantages-card:hover {
  background: rgba(242, 28, 28, 0.0588235294);
}
@media (max-width: 768px) {
  .advantages-card {
    min-width: 100%;
  }
}

.examples {
  background: rgba(44, 47, 57, 0.0549019608);
  padding: 16px;
}
.examples__title {
  font-size: 24px;
  text-align: center;
  margin-bottom: 24px;
}
@media (max-width: 768px) {
  .examples__title {
    font-size: 18px;
  }
}
.examples__main {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.example-card {
  flex: 1 1;
  min-width: 250px;
  background: #fff;
  border: 1px solid #e3e3e3;
}
.example-card__bottom {
  padding: 16px;
}
.example-card__title {
  margin-bottom: 8px;
}
.example-card__text {
  font-size: 16px;
}
@media (max-width: 768px) {
  .example-card__text {
    font-size: 14px;
  }
}
.example-card__photo {
  overflow: hidden;
  height: 200px;
}
.example-card__photo-img {
  transition: all 0.2s ease-in-out;
}
.example-card:hover .example-card__photo-img {
  transform: scale(1.1);
}
.example-card:hover .example-card__title {
  color: #f21c1c;
}

.about {
  padding-top: 40px;
}
.about__name {
  font-weight: 700;
  text-decoration: underline;
  text-underline-offset: 2px;
}
.about__title {
  margin-bottom: 8px;
}
.about__subtitle {
  font-size: 18px;
  font-weight: 600;
}
.about__text, .about__list {
  margin-bottom: 16px;
}
.about-list {
  list-style: inside;
}
.about-list__item {
  margin: 2px;
}
.about-list__title {
  font-weight: 500;
}
.about-list__text, .about-list__title {
  display: inline;
}

.contacts {
  padding-top: 40px;
}
.contacts__title {
  margin-bottom: 16px;
}
.contacts h3 {
  font-weight: 600;
}
.contacts__content div {
  margin-bottom: 8px;
}
.contacts__content a {
  text-decoration: underline;
}
.contacts__info {
  margin-bottom: 16px;
}

.footer {
  background: #2c2f39;
  color: #fff;
  border-top: 4px solid #f21c1c;
}
.footer__container {
  padding: 16px;
}
.footer__top {
  display: flex;
  justify-content: space-between;
  padding-bottom: 16px;
}
.footer__bottom {
  padding: 8px 0;
}
.footer__phone {
  display: flex;
  align-items: center;
  gap: 8px;
}
.footer__phone-href {
  color: #fff;
}
.footer__phone-href:hover {
  color: #fff;
}
.footer__bottom {
  border-top: 1px solid #424652;
}
.footer__copyright {
  font-size: 14px;
  text-align: center;
}
.footer .menu__list {
  display: flex;
}
.footer .menu__list-item:hover {
  transition: all 0.2s ease-in-out;
  background: #424652;
}
.footer .menu__list-link {
  display: block;
  padding: 20px;
  color: #fff;
}
@media (max-width: 768px) {
  .footer .footer__top {
    flex-direction: column;
    align-items: center;
    gap: 8px;
  }
  .footer .menu__list {
    flex-direction: column;
    align-items: center;
  }
  .footer .menu__list-link {
    padding: 12px;
  }
  .footer .menu__list-item {
    width: 100%;
    text-align: center;
  }
}/*# sourceMappingURL=style.css.map */